/**
 * Example 8-3. Styles for the button and ripple elements
 * From "Web Browser API Cookbook" by Joe Attardi
 */

.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple {
  background: white;
  pointer-events: none;
  transform-origin: center;
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
